.app-wrapper a {
  text-decoration: none;
  color: white;
}

.appBackground{
    background-image: url('./../assets/images/beerbackground.jpg');
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
}

.appWrapper {
  padding: 20px;
  margin: auto;
  width: 1024px;
  font-family: Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
