.keg-wrapper ul {
  list-style: none;
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
  justify-content: space-around;
  height: 80px;
}

.keg-wrapper li {
  margin-left: 20px;
  width: 100px;
  margin: 0 0 20px 20px;
  padding: 0;
}

.keg-wrapper {
  margin: 40px;
  box-shadow: 3px 3px 4px rgba(0,0,0, .5);
  border-radius: 10px;
  overflow: hidden;
}

.keg-card {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color:#bcd3ad
}

.keg-content {
  height: 70%;
}

.emphasis {
  font-weight: bold;
  font-size: 1.2rem;
}

.keg-buttons {
  position: relative;
  top: 40px;
display: flex;
justify-content: center;
height: 30%;


}
