.kegWrapper ul {
  list-style: none;
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
  justify-content: space-around;
  height: 80px;

}

.kegWrapper li {
  margin-left: 20px;
  width: 120px;
  max-height: 80px;
  margin: 0 0 10px 20px;
  padding: 0;
}

.kegContent ul {
  background-color: #9cb28e;
  display: flex;
  align-items: center;
  padding: 5px;
}

.kegWrapper {
  margin: 40px;
  box-shadow: 3px 3px 4px rgba(0,0,0, .5);
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.kegCard {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: #a5bc96
}

.kegContent {
  height: 70%;
  padding-top: 30px;
  box-sizing: border-box;
}

.emphasis {
  font-weight: bold;
  font-size: 1.2rem;
}

.kegButtons {
  position: relative;
  top: 40px;
display: flex;
justify-content: center;
height: 30%;
}
